.footer
  background: url('../img/background.jpg')
  padding: 59px 5.8vw 59px 8vw
  display: flex
  justify-content: space-between
  z-index: 999
  position: relative
  &__left
    height: 119px
    display: flex
    flex-direction: column
    justify-content: space-between
    z-index: 999999
  &__text
    font-size: 16px
    letter-spacing: 0.04em
    color: #ffffff
  &__social
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 109px
    &--img
      width: 20px
      height: 25px
      &:last-child
        width: 24px
        height: 25px
  &__center
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-between
  &__right
    display: flex
    flex-direction: column
    align-items: flex-end
    z-index: 99999
    a
      margin-bottom: 14px
