@media screen and (max-width: 1400px)
  .road
    &-right
      right: -140px
@media screen and (max-width: 1260px)
  .object
    flex-wrap: wrap
  .header
    &-contact
      &__phone
        padding-right: 10px
    &-nav
      &__menu
        padding-left: 20px
        margin-left: 30px
  .brand
    padding: 80px 0 122px 0
    &__description
      max-width: 536px
      font-size: 16px
      font-weight: 400
      line-height: 25px
      margin-top: 20px
      &:last-child
        margin-top: 20px
    &__logo
      max-width: 290px
      margin-top: -370px
  .road
    &-left
      &-bottom
        bottom: -30px
      &-top
        top: 100px
@media screen and (max-width: 1190px)
  .object
    justify-content: center
    margin-bottom: 0
  .service
    &__card
      align-items: center
      margin-left: 0
      margin-right: 0
      margin-top: 100px
      &::before
        display: none
      &:first-child
        margin-left: 0
        margin-right: 0
        margin-top: 0
        &::after
          content: ''
          height: 43px
          width: 352px
          background: url('../img/mVector.svg') no-repeat
          background-size: contain
          position: absolute
          left: -19px
          top: 30px
      &:nth-child(2)
        &::after
          content: ''
          height: 43px
          width: 352px
          background: url('../img/mVector.svg') no-repeat
          background-size: contain
          position: absolute
          left: -19px
          top: 30px
        .service
          &__title
            margin-left: 46px
          &__desc
            margin-left: 13px
      &:nth-child(3)
        &::after
          content: ''
          height: 43px
          width: 352px
          background: url('../img/mVector.svg') no-repeat
          background-size: contain
          position: absolute
          left: -19px
          top: 30px
        .service
          &__title
            margin-left: 46px
          &__desc
            margin-left: 13px
      &:nth-child(4)
        &::after
          content: ''
          height: 43px
          width: 352px
          background: url('../img/mVector.svg') no-repeat
          background-size: contain
          position: absolute
          left: -19px
          top: 30px
        .service
          &__title
            margin-left: 46px
          &__desc
            max-width: 280px
            line-height: 1
            span
              margin-bottom: 10px
      div
        width: 310px
        text-align: left
    &__toggle
      max-width: 287px
  .header
    &-content
      padding: 0 60px 0 0
    &-contact
      &__phone
        padding-right: 15px
        padding-left: 0
      &__mail
        padding-right: 15px
        padding-left: 20px
    &-nav
      &__menu
        margin-left: 20px
        padding-left: 20px
      &__portfolio
        padding-left: 20px
  .category
    margin-left: 20px
    margin-right: 20px
    &-service
      grid-template-rows: 1fr 1fr 1fr
      grid-template-columns: 25% 25% 30% 25%
      padding-bottom: 0
    &-grade
      grid-template-rows: 50% 50%
      grid-template-columns: 25% 30% 22% 15% 10%
  .portfolio
    &__button
      margin-left: 20px
  .contacts
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 127px
    &__title
      color: #232323
    &__card
      background: url(../img/back-contacts.jpg) no-repeat
      background-size: cover
      display: flex
      flex-wrap: wrap
      width: 100%
      flex-direction: column
      align-items: center
      &--block
        flex-basis: 0
  .maps
    iframe
      width: 100vw
      margin-bottom: -3px
  .information
    margin: 60px 0
    &__phone
      &::before
        top: -7px
    &__mail
      &::before
        top: 0
@media screen and (max-width: 940px)
  .client
    &__description
      max-width: 720px
  .road
    &-right
      top: 0
      right: 0
      left: auto
      &-bottom
        margin-top: 0
      &-top
        display: none
    &-left
      &-top
        top: 100px
  .feedback
    display: flex
    justify-content: center
    text-align: center
    padding-bottom: 115px
    &__title
      margin-top: 81px
      margin-bottom: 75px
      color: #E40000
    &__card
      display: flex
      flex-direction: column
      max-width: 587px
      justify-content: space-around
      align-items: center
    &-container
      display: flex
      flex-direction: column
      align-items: center
  .director
    margin-left: 0
    margin-bottom: 40px
  .offer
    &-close
      right: 0
      padding: 25px
  .header
    &-content
      padding-right: 20px
@media screen and (max-width: 768px)
  .project
    &-image
      margin-top: 90px
    &-hero
      &-text
        position: absolute
        z-index: 999
        top: 0
        left: 20px
        letter-spacing: 0.04em
    &-title
      font-size: 40px
      line-height: 29px
    &-desc
      margin-top: 40px
      flex-direction: column
      align-items: start
      font-size: 14px
    &-description
      &__img
  .client
    &__description
      max-width: 620px
  .work
    &__portfolio
      grid-template-columns: repeat(1, 1fr)
    &__card
      &:first-child
        grid-row-end: 1
      &:last-child
        grid-row-start: 3
  .road
    &-right
      top: 39%
      &-bottom
        margin-top: 20px
      &-top
        display: block
    &-left
      &-top
        top: 400px
  .category
    margin-left: 20px
    margin-right: 20px
    &-service
      flex-wrap: wrap
      flex-direction: column
      height: 130px
      align-content: space-between
    &-grade
      flex-wrap: wrap
      flex-direction: column
      height: 156px
      align-content: space-between
      padding-bottom: 0
    &-active
      display: flex
    &__description
      text-transform: lowercase
      text-align: left
      margin-bottom: 15px
  .project
    &__card
      flex-basis: 100%
      height: 100%
      &:nth-child(5n+3), &:nth-child(5n+4), &:nth-child(5n)
        flex-basis: 100%
        height: 100%
  .slick
    &-next
      right: 0
    &-prev
      left: 0
  .window
    max-width: 100vw
    height: 100vh
  .offer
    &-input
      width: 200px
    &__form
      &-label
        font-size: 14px
        max-width: 100%
        margin-bottom: 10px
      &-block
        flex-direction: column
        align-items: start
        overflow: hidden
      &-input
        width: 100%
@media screen and (max-width: 645px)
  .pc
    display: none
  .mobile
    display: block
  .container
    width: 100vw
  .road
    &-left
      &-top, &-bottom
        display: none
    &-right
      display: none
    &-mobile
      display: flex
      flex-direction: column
      position: absolute
      bottom: 0
      right: 0
      &-bottom
        max-width: 166px
        margin-bottom: -2px
        margin-left: 225px
      &-top
        margin-bottom: -160px
        max-width: 400px
        mix-blend-mode: overlay
  .brand
    padding: 40px 0 157px 0
    &__logo
      max-width: 80vw
      margin-top: 0
      margin-left: 17px
      margin-bottom: 35px
    &__content
      flex-direction: column
    &__title
      font-size: 26px
      line-height: 32px
      margin-bottom: 35px
    &__text
      margin-left: 17px
    &__description
      line-height: 20px
  .client
    &__description
      max-width: 420px
      margin-left: 17px
      margin-right: 10px
      line-height: 1.4
  .work
    &__portfolio
      display: flex
      flex-direction: column
  .information
    padding-left: 60px
    min-height: 202px
    &__address
      &::before
        left: -60px
    &__phone
      &::before
        left: -60px
    &__mail
      &::before
        left: -58px
  .form
    border: 1px solid #C6C6C6
    border-radius: 12px
    padding: 29px 22px 0 25px
    &-block
      display: flex
      flex-direction: column
      justify-content: space-between
      margin-bottom: 34px
      align-items: flex-start
      flex-wrap: wrap
      overflow: hidden
    &-label
      font-size: 14px
      margin-bottom: 20px
    &-input
      max-width: 351px
    &-button
      margin-top: 39px
  .window
    padding: 30px
    &-title
      padding: 0 25px
  .contacts
    &__card
      min-height: 831px
  .swiper-button-prev, .swiper-button-next
    display: none !important
  .swiper-pagination
    bottom: 5px !important
@media screen and (max-width: 460px)
  .window
  .offer
    &-input
      width: 200px
    &__form
      &-label
        font-size: 14px
        max-width: 100%
        margin-bottom: 10px
      &-block
        flex-direction: column
        align-items: start
      &-input
        width: 100%
  .close
    top: 20px
    right: 20px
  .phone
    &-phone
      display: block
      right: 33vw
      position: absolute
  .swiper
    &-container
      margin-top: 90px
      width: 100vw
      height: 60vw
      margin-left: auto
      margin-right: auto
  .bac
    height: 60vw
    background-position: bottom
  .client
    &__card
      flex-basis: 100%
      margin-bottom: 10px
    &-content
      padding-top: 11px
  .portfolio
    padding-bottom: 70px
    &__button
      margin-left: 20px
      align-items: center
      display: flex
      flex-direction: column
    &__btn
      margin-bottom: 20px
      width: 200px
  .category
    margin-left: 10px
    margin-right: 10px
    &-service
      flex-wrap: wrap
      flex-direction: column
      height: 100%
      align-items: center
      align-content: center
    &-grade
      flex-wrap: wrap
      flex-direction: column
      height: 100%
      align-content: center
      align-items: center
      padding-bottom: 0
  .form
    &-input
      max-width: 80vw
  .offer-button
    max-width: 150px
    line-height: 1.2
  .information
    &__desc
      font-size: 15px
      margin-left: 10px
  .contacts
    &__card
      margin-top: 40px
  .footer
    padding: 22px 0
    align-items: center
    flex-direction: column
    height: 221px
    justify-content: start
    &__left
      margin-top: 34px
      height: 77px
      text-align: center
      margin-bottom: 24px
    &__center
      position: absolute
    &__social
      margin-top: 189px
    &__text
      font-size: 14px
      line-height: 17px
    &__right
      align-items: center
      a
        margin-bottom: 4px
  .project
    &__card
      margin-left: 10px
      margin-right: 10px
      p
        text-align: left
    &-description
      height: auto
      margin-top: 20px
      &__img
        overflow: hidden
        margin-top: 20px
        margin-bottom: -40px
        img
          width: 200%
          margin-left: -100%
    &-image
      margin-top: 40px
      &:first-child
        margin-top: 90px
      &-description
        flex-direction: column
        margin-top: 20px
        &__desc
          margin: 20px
          max-width: 320px
          margin-bottom: 0
          line-height: 159%
    &-finish
      margin-top: 0
      &__container
        margin: 0
  .finish
    &-title
      margin-top: 40px
    &-project
      flex-direction: column
      &__img
        margin-bottom: 10px
  .background
    &-line
      &__finish
        display: none
  .col-2
    width: 100%
  .checkbox-label
    margin-left: 20px
  .slider
    margin-top: 98px
  .work
    margin-bottom: 70px
    &-block
      padding-top: 9px
  .onward
    margin-top: 60px
