.portfolio
  display: flex
  justify-content: center
  padding: 126px 0 155px 0
  text-align: center
  .breadcrumbs
    a
      color: black
  &__title
    color: #232323
  &__button
    margin-top: 55px
    margin-bottom: 10px
    text-align: left
    font-size: 1.2rem 
    text-transform: uppercase
  &__btn
    text-transform: uppercase
    color: #B7B7B7
    background: transparent
    line-height: 158.4%
    border-radius: 14px
    padding: 5px 14px 5px 0
    margin-right: 16px
    cursor: pointer
    transition: background 0.5s
    transition: color 0.6s
    border: none
    &--active
      color: #e40000
      font-weight: 600
    &:hover 
      color:#e40000
    &:focus
      outline: none
.project
  //column-count: 3
  //column-gap: 10px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 20px
  &__card
    display: block
    box-sizing: border-box
    position: relative
    //width: 30%
    img
      display: block
      //margin-bottom: 5px
    &__description
      //display: none
      padding: 20px
      box-sizing: border-box
      overflow: hidden
      opacity: 0
      width: 100%
      height: 100%
      background: rgba(29, 29, 28, 0.56)
      box-shadow: inset 24.5333px -24.5333px 24.5333px rgba(255, 255, 255, 0.01), inset -24.5333px 24.5333px 24.5333px rgba(255, 255, 255, 0.028)
      backdrop-filter: blur(10px)
      position: absolute
      top: 0
      z-index: 5
      transition: all 0.4s ease-in-out
      color: #FFFFFF
      text-align: left
      visibility: hidden
      h3
        font-size: 22px
        line-height: 27px
        letter-spacing: 0.1px
        text-transform: uppercase
        transform: translateY(-100px)
        opacity: 0
        transition: all 0.2s ease-in-out
      p
        transform: translateY(100px)
        opacity: 0
        transition: all 0.2s linear
    &:hover
      img
        transform: scale(1.1)
      .project__card__description
        visibility: visible
        opacity: 1
        h3, p 
          opacity: 1
          transform: translateY(0px)
        p
          transition-delay: 0.1s
        
.category
  button
    text-transform: uppercase
  &-service
    padding: 15px 0 18px 0
    border-radius: 14px
    //background: #E1E1E1
    display: none
    //grid-template-rows: 50% 50%
    //grid-template-columns: 28% 31% 30% 19%
    margin-bottom: 10px
  &-grade
    padding: 15px 14px 18px 0
    //background: #E1E1E1
    border-radius: 14px
    display: none
    grid-template-rows: 50% 50%
    grid-template-columns: 25% 30% 23% 17% 10%
    margin-bottom: 10px
  &-active
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
  &__description
    padding: 8px 14px
    border: 1px solid #E40000
    box-sizing: border-box
    border-radius: 14px
    background: transparent
    color: #E40000
    text-transform: lowercase
    //text-align: left
    margin-bottom: 15px
    margin-right: 16px
    &:hover
        cursor: pointer
    a
      color: #232323
      cursor: pointer
      &:hover
        color: #e40000
  &__active 
    background-color: #E40000
    color: #ffffff
.hidden
  display: none