.work
  margin-bottom: 163px
  padding: 50px 10px 0 10px
  &-block
    background-color: #fff
    padding-top: 43px
    display: flex
    justify-content: center
  &__title
    text-align: center
    margin-bottom: 62px
    color: #232323
  &__portfolio
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 10px
    grid-auto-rows: minmax(100px, auto)
  &__card
    &:first-child
      grid-column-start: span 2
      grid-row-end: span 2
    &:last-child
      grid-column-start: span 2
      grid-column-end: 4
      grid-row-start: 4
      grid-row-end: span 2
    &-img
      height: 100%
      overflow: hidden
      &:hover
        img
          transform: scale(1.1)
      img
        transition: 1s
.onward
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 48px
  cursor: pointer
  &__img
    width: 41px
    height: 28px
    margin-bottom: 4px
  &__desc
    color: #F10826
.work
  &__card
    &--desc
      font-size: 18px
      font-weight: 600
      color: #232323
      text-transform: uppercase
      margin: 10px 0 10px 0
@media screen and ( min-width: 646px )
  .nopc
    display: none
